* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-image: url('logo-register.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}

.main{
    border: solid 3px black;
    border-radius: 30px;
    padding: 15px;
    width: 50vw;
    height: 70vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

input{
    margin-top: 10px;
    margin-bottom: 7px;
    display: block;
    border: none;
    height: 3vh;
    border-radius: 5px;
    appearance: none;
    padding: 4px;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

button{
    display: block;
    margin-top: 30px;
    width: 80px;
    margin-left: auto;
    background: transparent;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

@media (max-width: 430px){
    input{
        width: 40vw;
    }
}

button:hover{
    font-size: 16px;
}

button:active{
    font-size: 19px;
}